<!DOCTYPE html>
<html>
<head>
	<title>Massive Pairplot</title>
</head>

<body style="background-color:#95b4cc;"> 
	<center>

	<h1 style="font-family:cambria; font-size:48px; color:#f9665e;">Massive Pairplot</h1>
	<h2 style="font-family:cambria; font-size:30px; color:#fec9c9;">Please give it a few seconds to load as it is a 100MP image.</h2>
	
	<p style="font-family:copperplate; font-size:24px; color:#f9665e;"> 
	I found the pairplot very interesting so I plotted all 30 columns in high resolution for you to zoom in and explore! <br>
	</p>

	<div class="zoom-within-container">
		<img src="/static/massive_pairplot.png" alt="Massive Pairplot" style="width: 5416px; height: 5396px;"> <br>
	</div>
	

	<p style="font-family:times; font-size:20px; color:#f9665e;">
	<i><b> Redirect to: </b><a href="http://127.0.0.1:5000/">Homepage</a> , <a href="http://127.0.0.1:5000/freshman_year">[1] Freshman Year</a> , <a href="http://127.0.0.1:5000/my_vlogs">[2] My Vlogs</a> , <a href="http://127.0.0.1:5000/3d_renders">[4] 3D Renders</a> </i> 								


	</center>
</body>
</html>
