<!DOCTYPE html>
<html>
<head>
	<title>My Vlogs</title>
</head>

<body style="background-color:#95b4cc;"> 
	<center>

	<h1 style="font-family:cambria; font-size:48px; color:#f9665e;">My Vlogs</h1>
	<h2 style="font-family:cambria; font-size:36px; color:#fec9c9;">Here are some of my vlogs!</h2>

	<p style="font-family:copperplate; font-size:24px; color:#f9665e;">
	This is a vlog from my summer holiday in 2018 to Denmark, Norway & Germany!
	</p>
	<iframe width="960" height="540" src="https://www.youtube.com/embed/3osSvIFPMnU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> <br>

	<p style="font-family:copperplate; font-size:24px; color:#fec9c9;">
	This is a vlog from my ski trip to Verbier!
	</p>
	<iframe width="960" height="540" src="https://www.youtube.com/embed/DCRawDb3oIA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> <br>


	<p style="font-family:copperplate; font-size:24px; color:#f9665e;">
	This is a timelapse of a carbon fibre spoiler for the formula racing car!<br> <br>
	<video width='960' height='540' controls>
		<source src="/static/fsae_aero.mp4" type=video/mp4>
	</video>
	</p>
	

	<p style="font-family:times; font-size:20px; color:#f9665e;">
	<i><b> Redirect to:</b> <a href="http://127.0.0.1:5000/">Homepage</a> , <a href="http://127.0.0.1:5000/freshman_year">[1] Freshman Year</a> , <a href="http://127.0.0.1:5000/massive_pairplot">[3] Massive Pairplot</a> , <a href="http://127.0.0.1:5000/3d_renders">[4] 3D Renders</a> <br> </i>
	</p>
	

	</center>
</body>
</html>
