<!DOCTYPE html>
<html>

<head>
	<title>Freshman Year</title>
</head>

<body style="background-color:#95b4cc;"> 
	<center>

	<h1 style="font-family:cambria; font-size:48px; color:#f9665e;">Freshman Year</h1>
	<h2 style="font-family:cambria; font-size:36px; color:#fec9c9;">Here are some highlights from my freshman year!</h2>

	<p style="font-family:copperplate; font-size:24px; color:#f9665e;"> 
	My first week at Columbia, getting to know and love my new home! <br> 
	</p>

	<img src="/static/first_week/fw1.jpg" alt="fw1" style="width: 600px; height: 600px;">
	<img src="/static/first_week/fw2.jpg" alt="fw2" style="width: 600px; height: 600px;"> <br>
	<img src="/static/first_week/fw3.jpg" alt="fw3" style="width: 600px; height: 600px;">
	<img src="/static/first_week/fw4.jpg" alt="fw4" style="width: 600px; height: 600px;"> <br>
	
	
	<p style="font-family:copperplate; font-size:24px; color:#fec9c9;"> 
	My art of engineering project, building a game that mimics the famous low plaza bottle man! <br> 
	</p>

	<img src="/static/aoe/aoe1.jpg" alt="aoe1" style="width: 600px; height: 600px;">
	<img src="/static/aoe/aoe2.jpg" alt="aoe2" style="width: 600px; height: 600px;"> <br>
	<img src="/static/aoe/aoe3.jpg" alt="aoe3" style="width: 600px; height: 600px;">
	<img src="/static/aoe/aoe4.jpg" alt="aoe4" style="width: 600px; height: 600px;">
<br>
	<img src="/static/aoe/aoe5.jpg" alt="aoe5" style="width: 600px; height: 600px;">
	<img src="/static/aoe/aoe6.jpg" alt="aoe6" style="width: 600px; height: 600px;">
<br>
	<img src="/static/aoe/aoe7.jpg" alt="aoe7" style="width: 600px; height: 600px;">
	<img src="/static/aoe/aoe8.jpg" alt="aoe8" style="width: 600px; height: 600px;">


	<p style="font-family:copperplate; font-size:24px; color:#f9665e;"> 
	Working on aerodynamics and high voltage teams for the formula racing team! <br> 
	</p>

	<img src="/static/fsae/fsae1.jpg" alt="fsae1" style="width: 600px; height: 600px;">
	<img src="/static/fsae/fsae2.jpg" alt="fsae2" style="width: 600px; height: 600px;"> <br>
	<img src="/static/fsae/fsae3.jpg" alt="fsae3" style="width: 600px; height: 600px;">
	<img src="/static/fsae/fsae4.jpg" alt="fsae4" style="width: 600px; height: 600px;"> <br>
	<img src="/static/fsae/fsae5.jpg" alt="fsae5" style="width: 600px; height: 600px;">
	<img src="/static/fsae/fsae6.jpg" alt="fsae6" style="width: 600px; height: 600px;"> <br>
	<img src="/static/fsae/fsae7.jpg" alt="fsae7" style="width: 600px; height: 600px;">
	<img src="/static/fsae/fsae8.jpg" alt="fsae8" style="width: 600px; height: 600px;">


	<p style="font-family:copperplate; font-size:24px; color:#fec9c9;"> 
	Lastly, here is a work in progress sketch I made of Butler! <br> 
	</p>

	<img src="/static/sketch.jpg" alt="sketch" style="width: 1200px; height: 900px;"> <br>


	<p style="font-family:times; font-size:20px; color:#f9665e;">
	<i><b> Redirect to: </b><a href="http://127.0.0.1:5000/">Homepage</a> , <a href="http://127.0.0.1:5000/my_vlogs">[2] My Vlogs</a> , <a href="http://127.0.0.1:5000/massive_pairplot">[3] Massive Pairplot</a> , <a href="http://127.0.0.1:5000/3d_renders">[4] 3D Renders</a> <br> </i>
	</p>
	

	</center>
</body>
</html>
