<!DOCTYPE html>
<html>
<head> 
	<title>Siddhanth's Homepage</title>
</head>
<body style="background-color:powderblue;"> 
	<center>
	

	<h1 style="font-size:300%; color: red;">Welcome to Siddhanth's Homepage!</h1>
	<p  style="font-size:200%;">
	My name is <b style="font-family: verdana;">Siddhanth Lath</b>. <br> </p>
	<img src="/static/test1.jpg" alt="Profile Picture" style="width: 600px; height: 400px;"> <br>
	<p style="font-size:150%;">
	I am a rising <i>sophomore</i> and I'm pursuing a degree in <u>Mechanical Engineering</u> <br>
	</p>

	<p style="font-size:110%;">
	Here are some of my favorite sites: <br>
	<a href="https://waitbutwhy.com">Wait But Why</a> <br>
	<a href="https://www.youtube.com/user/Wendoverproductions">Wendover Productions</a> <br>
	<a href="https://dining.columbia.edu/content/ferris-booth-commons-0">Ferris Dining Menu</a> <br>
	</P>

	<p>
	Please also visit: <br>
	<a href="/page1">Page 1</a> <br>
	<a href="/page2">Page 2</a> <br>
	<a href="/page3">Page 3</a> <br>
	</p>


	</center>

</body>
</html>
