<!DOCTYPE html>
<html>

<head> 
	<title>Siddhanth's Homepage</title>
</head>

<body style="background-color:#95b4cc;"> 
	<center>
	

	<h1 style="font-family:cambria; font-size:48px; color:#f9665e;">Welcome to Siddhanth's Homepage!</h1>
	<p  style="font-family:cambria; font-size:36px; color:#fec9c9;">
	My name is <b style="font-family:copperplate;">Siddhanth Lath</b>. </p>
	
	<img src="/static/profile_pic.jpg" alt="Siddhanth's Profile Picture" style="width: 750px; height: 500px;"> <br>
	
	<p style="font-family:cambria; font-size:24px; color:#f9665e;">
	I am a rising <i>sophomore</i> and I'm pursuing a degree in <b><i>Mechanical Engineering</b></i> <br>
	</p>

	<p style="font-family:cambria; font-size:20px; color:#fec9c9;">
	Here are some of my favorite sites: <a href="https://waitbutwhy.com">Wait But Why</a> , <a href="https://www.youtube.com/user/Wendoverproductions">Wendover Productions</a> , <a href="https://dining.columbia.edu/content/ferris-booth-commons-0">Ferris Dining Menu</a> ,  <a href="https://www.reddit.com/r/dataisbeautiful/top/?t=month">Data Is Beautiful</a> <br>
	</p>

	<p style="font-family:times; font-size:20px; color:#f9665e;">
	<i> <b>Please also visit:</b> <a href="/freshman_year">[1] Freshman Year</a> , <a href="/my_vlogs">[2] My Vlogs</a> , <a href="/massive_pairplot">[3] Massive Pairplot</a> , <a href="http://127.0.0.1:5000/3d_renders">[4] 3D Renders</a> <br> </i>
	</p>


	</center>

</body>
</html>
