<!DOCTYPE html>
<html>
<head> 
	<title>Siddhanth's Homepage</title>
</head>
<body style="background-color:powderblue;"> 
	<center>
	

	<h1 style="font-size:300%; color: red;">Welcome to Siddhanth's Homepage!</h1>
	<p  style="font-size:200%;">
	My name is <b style="font-family: verdana;">Siddhanth Lath</b>. <br> </p>
	<img src="/static/profile_pic.jpg" alt="Siddhanth's Profile Picture" style="width: 600px; height: 400px;"> <br>
	<p style="font-size:150%;">
	I am a rising <i>sophomore</i> and I'm pursuing a degree in <u>Mechanical Engineering</u> <br>
	</p>

	<p style="font-size:110%;">
	Here are some of my favorite sites: <a href="https://waitbutwhy.com">Wait But Why</a> , <a href="https://www.youtube.com/user/Wendoverproductions">Wendover Productions</a> , <a href="https://dining.columbia.edu/content/ferris-booth-commons-0">Ferris Dining Menu</a> ,  <a href="https://www.reddit.com/r/dataisbeautiful/top/?t=month">Data Is Beautiful</a> <br>
	</P>

	<p>
	<i> Please also visit: <a href="/freshman_year">[1] Freshman Year</a> , <a href="/my_vlogs">[2] My Vlogs</a> , <a href="/massive_pairplot">[3] Massive Pairplot</a> <br> </i>
	</p>


	</center>

</body>
</html>
