<!DOCTYPE html>
<html>
<head>
	<title>Massive Pairplot</title>
</head>

<body style="background-color:powderblue;"> 
	<center>

	<p> 
	This is my <b>Massive Pairplot</b>. <br>
	Please give it a few seconds to load as it is a 100MP image. <br>
	I found the pairplot very interesting so I plotted all 30 columns in high resolution for you to zoom in and explore! <br>
	</p>

	<div class="zoom-within-container">
		<img src="/static/massive_pairplot.png" alt="Massive Pairplot" style="width: 5416px; height: 5396px;"> <br>
	</div>
	


	<p>
	<i> Redirect to: <a href="http://127.0.0.1:5000/">Homepage</a> , <a href="http://127.0.0.1:5000/freshman_year">[1] Freshman Year</a> , <a href="http://127.0.0.1:5000/my_vlogs">[2] My Vlogs</a> <br> </i>
	

	</center>
</body>
</html>
