<!DOCTYPE html>
<html>
<head>
	<title>My Vlogs</title>
</head>

<body style="background-color:powderblue;"> 
	<center>

	<p> 
	This is <b>my vlogs</b>. <br>
	</p>


	<iframe width="960" height="540" src="https://www.youtube.com/embed/3osSvIFPMnU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


	<iframe width="960" height="540" src="https://www.youtube.com/embed/DCRawDb3oIA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


	<p>
	<video width='960' height='540' controls>
		<source src="/static/fsae_aero.mp4" type=video/mp4>
	</video>
	</p>
	


	<i> Redirect to: <a href="http://127.0.0.1:5000/">Homepage</a> , <a href="http://127.0.0.1:5000/freshman_year">[1] Freshman Year</a> , <a href="http://127.0.0.1:5000/massive_pairplot">[3] Massive Pairplot</a> <br> </i>
	

	</center>
</body>
</html>
